.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: url('/normo/static/src/img/img.png') no-repeat center center;
    opacity: 0.1;
    z-index: -1;
    transform: translate(-50%, -50%);
}